version: "3.9"
services:
  db:
    image: mongo:5.0.17
    env_file:
      - .env
    ports:
      - "27017:27017"
    volumes:
      - ./mongodb-data:/data/db
    restart: always

  backend:
    build:
      context: ./
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - ${UVICORN_PORT:-8000}:8000
    restart: always

volumes:
  mongodb-data:
